.add-budget-container {
  margin-top: 40px;
}

.table-display-block {
  display: block;
}

.tbody-scroll {
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tfoot-padding-bottom {
  padding: 8px 0 20px 0;
}

.add-budget-fixed-width {
  width: 400px !important;
}
