@import "../../styles/_colors.scss";

#login-loader-container {
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  background-color: $white;

  img {
    animation: loading 1.2s infinite both;
    margin-left: 50px;
    margin: auto 0;
  }

  .progress {
    height: 20px;
    background-color: $shiraz;
    animation: loading-progress 8s both;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
}

@keyframes loading {
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: translateZ(40px);
  }
  100% {
    transform: translateZ(0);
  }
}

@keyframes loading-progress {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  25% {
    width: 25%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  75% {
    width: 75%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 98%;
  }
}
