@import "../../../../styles/_colors.scss";

#positive {
  min-height: 230px;
  display: flex;
  border-bottom: 1px solid $mystic;
  margin-left: 10px;

  li {
    display: flex;
    width: 15%;
    align-items: flex-end;
    justify-content: center;
    height: inherit;

    &.active {
      background-color: $catskill-white;
    }

    .bar {
      max-height: 200px;
      width: 20px;
      display: flex;
      flex-direction: column-reverse;

      div {
        width: 20px;

        &.last {
          opacity: 0.2;
        }

        &.remain {
          background-color: $lima;
        }

        &.spent {
          background-color: $ebony-clay;
        }
      }
    }
  }
}
