@import "../../styles/_colors.scss";

#button {
  height: 50px;
  padding: 16px;
  border-radius: 5px;
  background-color: $ebony-clay;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 6px 8px 0 rgba(0, 0, 0, 0.08);
  color: $white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}
