@import "../../styles/_colors.scss";

#button {
  margin: 8px 0;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: $ebony-clay;
  color: $white;
  font-family: inherit;
  display: inline-block;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    clip-path: circle(75%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px 0px;
    outline: none;
    text-decoration: none;
  }

  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: $ebony-clay;
    box-shadow: none !important;
  }
}
