@import "../../../styles/_colors.scss";

#weeks {
  display: flex;
  color: $manatee;
  font-size: 11px;
  font-weight: 500;
  border-bottom: 1px solid $mystic;

  li {
    padding: 9px;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &.active {
      border-bottom: 1px solid $ebony-clay;
    }

    .tooltip {
      position: absolute;
      height: 20px;
      width: 20px;
      display: inline-block;
    }
  }

  li:first-child {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}
