$lima: #7ed321;
$ebony-clay: #2c2b43;
$comet: #57566d;
$shiraz: #bd112a;
$manatee: #908fae;
$mystic: #e1e7ef;
$catskill-white: #f3f5f9;
$white: #ffffff;
$cinder: #13121d;
$ebony-clay-dark: #27263b;
$athens-gray: #f1f3f7;
$pale-sky: #6a7680;
$red: #ff0000;
$mischka: #e1e1e9;
$river-bed: #4c5760;
$monza: #d0021b;
$scorpion: #5f5f5f;
