@import "../../styles/_mixins.scss";
@import "../../styles/_colors.scss";

#card {
  width: 100%;
  margin: 8px 0;

  &.noMargin {
    margin: auto;
  }

  .card-container {
    width: 200px;
    height: 180px;
    display: flex;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px;
    border-radius: 4px;
    padding: 8px;

    &.white {
      background-color: $white;
    }

    &.dark {
      background-color: $cinder;
    }

    &.noPadding {
      padding: 0;
    }
  }
}
