@import "../../styles/_mixins.scss";
@import "../../styles/_colors.scss";

.worklogs-container {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  width: 100%;
}

.title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.excel-logo-container {
  margin-right: 24px;
  margin-bottom: 16px;
  font-size: 16px;
  color: $ebony-clay;
  font-weight: 600;
  display: flex;
  border: $ebony-clay 2px solid;
  padding: 6px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
}

.excel-logo {
  margin-left: 6px;
  color: $ebony-clay;
}

.worklogs__list {
  border-radius: 14px;
  background-color: $white;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.worklogs__item {
  display: flex;
  border-bottom: 1px solid $mystic;
  padding: 16px;
  position: relative;
}

.worklogs__item:first-child {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.worklogs__item:last-child {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.picked {
  animation: bounceIn 1s;
}

@keyframes bounceIn {
  0% {
    background-color: $white;
  }
  50% {
    background-color: $manatee;
  }
  100% {
    background-color: $white;
  }
}

.worklogs__item_empty {
  text-align: center;
  font-size: 18px;
  justify-content: center;
  padding: 16px;
}

.worklogs__spent {
  color: $ebony-clay;
  font-size: 15px;
  font-weight: 500;

  @include breakpoint(xs) {
    font-size: 14px;
  }
}

.worklogs__info-container {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 8px;
}

.worklogs__comment {
  color: $manatee;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  @include breakpoint(xs) {
    font-size: 14px;
    word-break: break-word;
  }
}

.worklogs__date {
  color: $ebony-clay;
  font-size: 15px;
  font-weight: 500;
  width: 64px;
  white-space: nowrap;

  @include breakpoint(xs) {
    font-size: 14px;
  }

  &.week-day {
    color: $manatee;
  }
}

.worklogs__line {
  display: flex;
}

.worklogs__date-cont {
  display: flex;
  flex-direction: column;
}

.worklogs__button {
  margin-top: 16px;
}
