
<div class="email-footer">
  <div class="content-cell">
      <div class="sub center footer-info">+31 23 20 20 302</div>
      <div class="sub center footer-info">info@secondcompany.nl</div>
      <div class="sub center footer-info">Nederlands</div>
  </div>
  <div class="content-cell" style="padding-top: 0;">
      <p class="sub center footer-info">&copy; <%= new Date().getFullYear() %> My Second Company. Alle rechten voorbehouden.</p>
  </div>
</div>

