@import "../../styles/_mixins.scss";
@import "../../styles/_colors.scss";

.selecting-container {
  transition: ease-in-out 1s;
  background-color: grey;
  border-radius: 4px;
  display: flex;
  padding: 4px;
  align-items: center;

  .sentence-word {
    margin: 0 6px;
  }

  .sentence-finished {
    background-color: lightgreen;
    transition: background-color 0.5s linear;
    border-radius: 4px;
    padding: 8px 8px;
    color: black;
  }
}
