@import "../../styles/_mixins.scss";
@import "../../styles/_colors.scss";

#header-wrapper {
  height: 80px;
  #header {
    height: 80px;
    background-color: $ebony-clay-dark;
    border: 0;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: box-shadow ease-out 0.2s;
    box-shadow: none;
    z-index: 2;

    &.shadow-on {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    @include breakpoint(lgmax) {
      font-size: 30px;
    }

    @include breakpoint(xs) {
      font-size: 25px;
    }

    .logo {
      display: flex;
      text-decoration: none;

      img {
        height: 36px;
      }
    }

    .sign-off {
      color: $white;
      font-size: 13px;
      text-decoration: underline;
      cursor: pointer;

      @include breakpoint(xxs) {
        justify-self: flex-end;
      }
    }
  }
}
