@import "../../styles/_colors.scss";

#progress-graph {
  margin-top: 24px;
  width: 100%;

  .graph {
    width: 100%;
    border-radius: 14px;
    background-color: $white;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
}
