@import "../../styles/_mixins.scss";
@import "../../styles/_colors.scss";

.page-container {
  width: 100%;
  background-color: $manatee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  position: relative;
}

.page {
  overflow-y: auto;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  padding: 160px 0;
}

.page-title {
  font-size: 26px;
}

.content-container {
  width: 90%;
  margin: auto 0;
}
