@import "../../styles/_mixins.scss";
@import "../../styles/_colors.scss";

.page-container {
  width: 100%;
  background-color: $manatee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  position: relative;
}

.page {
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.content-container {
  margin: 140px;
}
