@import "../../styles/_mixins.scss";
@import "../../styles/_colors.scss";

.popup {
  border-radius: 14px;
}

#form {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    color: $ebony-clay;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 28px;
    margin-top: 18px;
    margin-left: 39px;

    @include breakpoint(xs) {
      margin-left: 10px;
      margin-top: 0;
    }
  }

  .error {
    color: $shiraz;
    margin-left: 39px;
    margin-bottom: 20px;
  }

  .body {
    width: 70%;
    margin-left: 39px;

    @include breakpoint(xs) {
      margin-left: 37px;
      margin-top: 32px;
    }

    @include breakpoint(xxs) {
      margin-left: 5px;
    }

    .block {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .label {
        display: block;
        min-width: 131px;
        color: $ebony-clay;
        font-size: 16px;
        margin-right: 34px;
        white-space: nowrap;

        @include breakpoint(xxs) {
          margin-right: 0;
          font-size: 14px;
        }
      }

      .input-wrapper {
        display: flex;
        border: none;
        align-items: center;

        .input {
          border: 2px solid $mystic;
          width: 295px;
          color: $ebony-clay;
          font-size: 16px;
          padding: 16px 0 14px 16px;
          border-radius: 5px;

          @include breakpoint(xxs) {
            width: 160px;
          }

          &:focus {
            border: 2px solid $pale-sky;
          }
        }

        .input-hint {
          display: flex;
          border-left: 1px solid $mystic;
          color: $mystic;
          font-size: 12px;
          margin-left: -74px;
          width: 74px;
          height: 48px;
          align-items: center;
          justify-content: center;

          @include breakpoint(xxs) {
            width: 50px;
            margin-left: -50px;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    margin-left: 39px;
    margin-right: 32px;

    @include breakpoint(xs) {
      margin-top: 54px;
      margin-right: 22px;
    }

    @include breakpoint(xxs) {
      margin-left: 0;
      margin-top: 50px;
      margin-right: 0px;
      height: 100px;
    }

    .hint {
      opacity: 0.5;
      color: $ebony-clay;
      font-size: 12px;

      @include breakpoint(xxs) {
        display: none;
      }
    }

    .submit {
      display: flex;
      align-items: center;
      padding: 10px 15px 10px 0;
      border-radius: 5px;
      background-color: $ebony-clay;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06),
        0 6px 8px 0 rgba(0, 0, 0, 0.08);
      color: $white;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }

    .img {
      margin-left: 10px;
      width: 35px;
      height: 35px;

      @include breakpoint(xxs) {
        margin-left: 5px;
      }
    }
  }
}
